*.o
*.out
*.exe
*.dll
*.so
*.dylib
/build/
/bin/
/dist/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.gcda
*.gcno
profile-data/
*.log
*.tmp
*.pid
*.sh
*.d
*.obj
*.makefile
setup/
.VSCodeCounter
data
tokkit
